@import url("reset.css");

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#333
}

p {
    padding: 3px;
}
#username {
    font-weight: bold;
}

#wrapper {
    margin: 0 auto;
    width: 1140px;
}

#header {
    float: left;
    height: 75px;
    width: 1140px;
    background: #FF6633;
}

#logoblock {
    float: left;
    height: 100%;
    width: 840px;
    background: #66CC33;
}

#userblock {
    float: right;
    height: 100%;
    width: 300px;
    background: #999999;
	text-align: center;	
}

#navigation {
    float: left;
    height: 40px;
    width: 1140px;
    background: #FFCC33;
}

#content {
    float: left;
    background: #FFFFFF;
    width: 910px;
}

#leftcolumn {
    background: #33CCFF;
    width: 230px;
    float: left;
}

#footer {
    height: 40px;
    width: 1140px;
    background: #33FF66;
    clear: both;
}

