<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Money9{% endblock %}</title>
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="/static/main9/css/main.css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
		<div id="logoblock">
			<img src="/static/main9/images/9bit75x75.png"/>
			<img src="/static/main9/images/budg.png"/>
            {% block header %}<h5>Money9</h5>{% endblock %}
		</div>	
		<div id="userblock">
			{% block userblock %}
			{% if user.is_authenticated %}
				<p>Пользователь:</p>
				<span id="username">{{user}}</span>
				<p><a href="/logout/">Выход</a> / <a href="/userprofile/">Профиль</a></p>
			{% endif %}			
			{% endblock %}
		</div>
        <div id="navigation">
            <p>{% block mainmenu %}{% endblock %}</p>
        </div>
        <div id="content">
           <p>{% block content %}{% endblock %}</p>
       </div>
        <div id="footer">
             <p>User: {{ user }} ::: Session: {{ session }}</p>
        </div>
    </div>
</body>
</html>
