{% extends "base_page.html" %}
{% block content %}
<div class="align_center">
&nbsp;
<div class="align_center_to_left">
        <div class="align_center_to_right" style="margin: 1em 0; border: 1px dashed #DDDDDD;">
<table>
    <tr>
		<td  colspan="2" align="center" bgcolor="#DDDDDD">
<p>Редактирование профиля пользователя</p>
		</td>
	</tr>
<form method="post" action="/userprofile/">
        <fieldset>	
{% csrf_token %}
    <tr>
		<td  colspan="2" align="center">
			{{ form.non_field_errors }}
		</td>
	</tr>
	<tr>
		<td>
			<p>Текущий E-mail</p>
		</td>
		<td>
			{{user.email}}
		</td>
	</tr>	
    <tr>
		<td  colspan="2" align="center">
			{{ form.emailnew.errors }}
		</td>
	</tr>
	<tr>
		<td>
			<p>{{form.emailnew.label}}</p>
		</td>
		<td>
			{{form.emailnew}}
		</td>
	</tr>
    <tr>
		<td  colspan="2" align="center">
			{{ form.passwordnew.errors }}
		</td>
	</tr>	
	<tr>
		<td>
			<p>{{form.passwordnew.label}}</p>
		</td>
		<td>
			{{form.passwordnew}}
		</td>
	</tr>
    <tr>
		<td  colspan="2" align="center">
			{{ form.password.errors }}
		</td>
	</tr>	
	<tr>
		<td>
			<p>{{form.password.label}}</p>
		</td>
		<td>
			{{form.password}}
		</td>
	</tr>	
</fieldset>
	<tr>
		<td colspan="2" align="center">
			<button type="submit">Сохранить</button><br>&nbsp;
		</td>
	</tr>
</form>
	<tr>
		<td colspan="2" align="center" bgcolor="#DDDDDD">
<p><a href="/">На главную<a></p>
        </td>
	</tr>
</table>
</div>
</div>
</div>
{% endblock %}	