{% extends "base_page.html" %}
{% block content %}
<div class="align_center">
&nbsp;
<div class="align_center_to_left">
        <div class="align_center_to_right" style="margin: 1em 0; border: 1px dashed #DDDDDD;">
<table>
    <tr>
		<td  colspan="2" align="center" bgcolor="#DDDDDD">
<p>Для продолжения работы необходимо войти <br>в систему под своей учетной записью</p>
		</td>
	</tr>
<form method="post" action="/login/">
        <fieldset>	
{% csrf_token %}
    <tr>
		<td  colspan="2" align="center">
			{{ form.non_field_errors }}
		</td>
	</tr>
    <tr>
		<td  colspan="2" align="center">
			{{ form.username.errors }}
		</td>
	</tr>
	<tr>
		<td>
			<p>{{form.username.label}}</p>
		</td>
		<td>
			{{form.username}}
		</td>
	</tr>
    <tr>
		<td  colspan="2" align="center">
			{{ form.password.errors }}
		</td>
	</tr>	
	<tr>
		<td>
			<p>{{form.password.label}}</p>
		</td>
		<td>
			{{form.password}}
		</td>
	</tr>
</fieldset>
	<tr>
		<td colspan="2" align="center">
			<button type="submit">Войти</button><br>&nbsp;
		</td>
	</tr>
</form>
	<tr>
		<td colspan="2" align="center" bgcolor="#DDDDDD">
<p>Нет учетной записи? <a href="/register/">Зарегистрироваться!<a></p>
        </td>
	</tr>
	<tr>
		<td colspan="2" align="center" bgcolor="#DDDDDD">	
<p>Забыли пароль? <a href="/resetpassword/">Сбросить пароль</a></p>
        </td>
	</tr>
</table>
</div>
</div>
</div>
{% endblock %}	