{% extends "base_page.html" %}
{% block content %}
<div class="align_center">
&nbsp;
<div class="align_center_to_left">
        <div class="align_center_to_right" style="margin: 1em 0; border: 1px dashed #DDDDDD;">
<table>
    <tr>
		<td  colspan="2" align="center" bgcolor="#DDDDDD">
<p>Сброс пароля пользователя<br>
На Вашу почту отправлено письмо с новым сгенерированным паролем<br>
Старый пароль более не актуален
</p>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center" bgcolor="#DDDDDD">
<p><a href="/">На главную<a></p>
        </td>
	</tr>
</table>
</div>
</div>
</div>

{% endblock %}